body,
header {
  background-color: #282c34;
}

body{
  padding-top: 4rem;
}

.App {
  text-align: center;
}

header {
  position: fixed;
  top: 0px;
  padding: 0.5em;
  padding: fixed;
  width: 100%;
  color: white;
  box-shadow: 0px 0px 16px 0px #030304;
  z-index: 2;
  font-size: 1.25rem;
}

section {
  color: white;
}

.ant-card-bordered{
  background-color: #383c44;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.ant-card-meta-title, .ant-card-meta-description{
  color: white !important;

}
.ant-card-cover > img {
  border-radius: 1rem 1rem 0 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fab {
  position: fixed;
  bottom: 24px;
  box-shadow: 0px 0px 16px 0px #030304;
}